<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Help</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/img/pic2.png">
</head>
<body>
<div class="main-flex">
{{> header}}
<h1>{{help}}</h1>
<p>Mail id : imraanpattan@gmail.com</p>
</div>
{{>footer}}

<script src="/js/capp.js"></Script>
</body>
</html>