<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />



    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/pic2.png">
</head>

<body>
    <div class="main-flex">

        {{> header}}
        <h1>Weather info</h1>
        <p>This site displays the weather information of a particular searched location.</p>

        <div class="formcontainer">
            <form>
                <input type="text" id="fname" name="search" placeholder="enter location name...eg: Narasaraopet">
                <input type="button" value="Search" onclick="fun()">
            </form>
        </div>
        <br>
        <div id="in">
        </div>
    </div>
    {{>footer}}
    <script src="/js/capp.js"></Script>
</body>

</html>